.hero-title {
    font-family: 'BebasNeueBold', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 5.71px;
    text-transform: uppercase;
    text-align: center;
}
a {
    font-family: 'OpenSans', sans-serif;
    cursor: pointer;
}
p {
    font-family: 'OpenSans', sans-serif;
}
.hero-description {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}
.hero-scroll {
    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    margin-bottom: 71px;
}
.hero {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.hero-logo {
    height: 21px;
    width: 102px;
    margin-top: 41px;
}
.hero-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 23px;
}
.header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.header-nav__link {
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.09px;
    color: #48555B;
}
.text-blue {
    color: #00A4E5;
}
.our-story__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.our-story__title {
    font-family: 'OpenSans', sans-serif;
    color: #48555B;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2.31px;
}
.our-story__text-bold {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.19px;
    color: #48555B;
}
.our-story__text-thin {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.19px;
    color: #48555B;
}
.our-story__texts {
    max-width: 379px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.our-story__images {
    display: flex;
    gap: 20px;
    align-items: center;
}
.our-story__main {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}
.our-story {
    margin-top: 58px;
}
.our-capabilities__title {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2.31px;
    color: #48555B;
}
.our-capabilities__text {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.2px;
}
@media (max-width: 640px) {
    .our-story__main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
@media (max-width: 480px) {
    .hero-title {
        font-size: 50px;
    }
    .our-story__images {
        flex-direction: column;
    }
}
