.hero-title {
    font-family: 'BebasNeueBold', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 5.71px;
    text-transform: uppercase;
    text-align: center;
}
a {
    font-family: 'OpenSans', sans-serif;
    cursor: pointer;
}
p {
    font-family: 'OpenSans', sans-serif;
}
.hero-description {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}
.hero-scroll {
    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    margin-bottom: 71px;
}
.hero {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.hero-logo {
    height: 21px;
    width: 102px;
    margin-top: 41px;
}
.hero-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 23px;
}
.header-list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.header-nav__link {
    font-size: 12px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 1.09px;
    color: #48555B;
}
.text-blue {
    color: #00A4E5;
}
.our-story__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.our-story__title {
    font-family: 'OpenSans', sans-serif;
    color: #48555B;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2.31px;
}
.our-story__text-bold {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.19px;
    color: #48555B;
}
.our-story__text-thin {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.19px;
    color: #48555B;
}
.our-story__texts {
    max-width: 379px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.our-story__images {
    display: flex;
    gap: 20px;
    align-items: center;
}
.our-story__main {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}
.our-story {
    margin-top: 58px;
}
.our-capabilities__title {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2.31px;
    color: #48555B;
}
.our-capabilities__text {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.2px;
    color: #48555B;
    max-width: 385px;
}
.our-capabilities__header {
    display: flex;
    justify-content: space-between;
}
.our-capabilities__button {
    height: 40px;
    background-color: #00A4E5;
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    letter-spacing: 0.5px;
    line-height: 100%;
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-capabilities__header-description {
    display: flex;
    gap: 32px;
}
.our-capabilities {
    margin-top: 118px;
}
.our-capabilities__card-titile {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.43px;
    color: #48555B;
    margin-bottom: 13px;
}
.our-capabilities__card-text {
    font-weight: 400;
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
    color: #48555B;
}
.our-capabilities__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 28px;
    margin-top: 76px;
}
.our-capabilities__card {
    padding: 38px 17px;
    border: 1px solid #E6E6E6;
}
.our-capabilities__card-image {
    margin-bottom: 25px;
}
.contact__title {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.15px;
    color: #48555B;
    max-width: 350px;
    text-align: center;
}
.contact__button {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.5px;
    color: #fff;
    padding: 11px 26px;
    background-color: #00A4E5;
    display: inline-block;
}
.contact-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: 500px;
}
.contact {
    margin-top: 115px;
    height: 500px;
    background-image: url('../images/bg-city.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.newsletter {
    background-color: #171819;
}
.submit-button {
    color: #fff;
    background-color: #00A4E5;
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 100%;
    border: none;
    min-width: 150px;
    height: 40px;
}
.input_email {
    min-width: 250px;
    height: 40px;
    padding-left: 16px;
}
.newsletter-inner {
    display: flex;
    align-items: center;
    gap: 86px;
    justify-content: center;
    padding-block: 30px;
}
.newsletter__title {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.85px;
    color: #fff;
}
.column-company__text {
    font-family: 'OpenSans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 172%;
    letter-spacing: 0.85px;
    padding-top: 15px;
    color: #fff;
    max-width: 237px;
}
.footer {
    background-color: #141A20;
}
.column-company__title {
    color: #fff;
    font-family: 'OpenSans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.85px;
    padding-bottom: 19px;
}
.column-links__title {
    font-family: 'OpenSans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.85px;
    color: #fff;
    padding-bottom: 10px;
}
.column-links__link {
    font-family: 'OpenSans', sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 227%;
    letter-spacing: 0.85px;
    color: #fff;
}
.column-links__first, 
.column-links__second,
.column-links__third {
    display: flex;
    flex-direction: column;
}
.column-links__columns {
    display: flex;
    gap: 36px;
}
.column-contact {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.85px;
    color: #fff;
    max-width: 141px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
@media (max-width: 768px) {
    .our-capabilities__header {
        flex-direction: column;
    }
}
@media (max-width: 640px) {
    .our-story__main {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}
@media (max-width: 480px) {
    .hero-title {
        font-size: 50px;
    }
    .our-story__images {
        flex-direction: column;
    }
}
